.about-page {
  @extend .display_layout;
  flex-wrap: wrap;
  width: 380px;
}

.about-name {
  @extend .display_layout;
  font-size: 50px;
  color: #363739;
  line-height: 165%;
  font-weight: bold;
  margin: 0px;
}

.self-introduction {
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -0.02em;
  height: 42px;
  color: #585858;
  margin-top: 16px;
  text-align: center;
  min-width: 300px;
}

.profile-image {
  width: 216px;
  height: 216px;
  margin-top: 28px;
}

.about-tag {
  @extend .display_layout;
  flex-wrap: wrap;
  width: 300px;
  height: 40px;
  font-size: 13px;
  margin-top: 45px;
  color: #585858;
  line-height: 21.45px;

  .tag-image {
    margin-right: 10px;
  }

  div {
    margin-left: 30%;
    width: 300px;
  }
}

.about-social {
  display: flex;
  justify-content: space-between;
  width: 148px;
  height: 28px;
  margin-top: 36px;
}

.posts-box {
  @extend .display_layout;
  width: 274px;
  height: 54px;
  .posts-text {
    font-weight: 700;
    font-size: 20px;
    color: $white;
  }
  background-color: $theme-green;
  border-radius: 30px;
  margin-top: 50px;
  transition: 0.2s;

  &:hover {
    background-color: $theme-green;
    transition: 0.2s;
    transform: translate3d(0, -3px, 0);
    box-shadow: 0px 4px 10px rgba(85, 175, 122, 0.4);
  }
}

img {
  cursor: pointer;
}

.display_layout {
  display: flex;
  justify-content: center;
  align-items: center;
}
