.main {
  display: flex;
  flex-direction: column;
  @include pc {
    display: grid;
    grid-template-columns: calc(1024px - 282px) 282px;
    .card-container {
      order: 1;
    }
    .main-aside {
      order: 2;
    }
  }
}

.main-aside {
  width: 100vw;
  height: 27px;
  margin: 23px -25px 35px;
  background-color: $light-green;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @include pc {
    position: sticky;
    top: 0;
    width: 282px;
    height: 380px;
    margin: 0;
    white-space: normal;
    overflow-x: initial;
  }
}

.index-title {
  @include card();
  margin-bottom: 40px;
  color: $dark-black;
  font-size: 20px;
  font-weight: bold;
  > img {
    margin-right: 10px;
  }
}

.card-container {
  @include card();
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
