/**
 * @light theme
 */

// body
$light-background-color: #fff;
$light-text-shadow: 0 0 0.1px rgba(0, 0, 0, 0.3);

// index
$dark-gray: #333;
$middle-gray: #7d7d7d;
$light-gray: #aaa;

// device-sizes
$mobile-min: 320px;
$tablet-min: 768px;
$pc-min: 1024px;
