/**
 * @light theme
 */

// body
$light-background-color: #fff;
$light-text-shadow: 0 0 0.1px rgba(0, 0, 0, 0.3);

// index
$dark-gray: #333;
$middle-gray: #7d7d7d;
$light-gray: #aaa;

// device-sizes
$mobile-min: 320px;
$tablet-min: 768px;
$pc-min: 1024px;

// post color
$header-green: #55af7a;
$em-red: hsl(333deg, 100%, 45%);

// size
$font-size-small: 2.074rem;

// spacing
$spacing-px: '1px';
$spacing-0: 0;
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1rem;
$spacing-5: 1.25rem;
$spacing-6: 1.5rem;
$spacing-8: 2rem;
$spacing-10: 2.5rem;
$spacing-12: 3rem;
$spacing-16: 4rem;
$spacing-20: 5rem;
$spacing-24: 6rem;
$spacing-32: 8rem;

$lineHeight-none: 1;
$lineHeight-tight: 1.1;
$lineHeight-normal: 1.5;
$lineHeight-relaxed: 1.625;

$color-accent: #d1dce5;
