@import '../../styles/variables.scss';
@import '../../styles/light-theme.scss';
@import '../../styles/dark-theme.scss';

div.global-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main.global-main {
  max-width: 1024px;
  padding: 0 25px;
  @include pc {
    margin-top: 88px;
    padding: 0;
  }
}
