@import '../../styles/variables.scss';
@import '../../styles/light-theme.scss';

header.global-header {
  background-color: $theme-green;
  height: 60px;
}

aside.global-aside {
  height: 50px;
  padding: 22px 26px;
  background-color: $light-green;
  @include pc {
    position: fixed;
    right: 50%;
    top: 245px;
    width: 282px;
    height: 380px;
    margin-right: -362px;
  }
}

main.global-main {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 35px;
  padding: 0 25px;
  @include pc {
    margin-top: 88px;
    padding: 0;
  }
}
