.category {
  width: auto;
  padding: 0 25px;
  @include pc {
    width: 300px;
    padding-left: 12px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &--item {
    display: inline-block;
    margin-right: 12px;
    padding: 3px 13px;
    border: 0;
    border-radius: 30px;
    outline: 0;
    background-color: $border-gray;
    color: $theme-green;
    transition: 0.2s;
    font-weight: 500;
    font-size: 14px;
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow,
      0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
    &:hover {
      transform: scale(1.1);
      background-color: $border-gray;
      color: $theme-green;
    }
    &.active {
      background-color: $theme-green;
      color: $pale-green;
      &:hover {
        background-color: $theme-green;
        color: $pale-green;
      }
    }
    &:last-child {
      margin-right: 25px;
    }
    @include pc {
      display: block;
      border-radius: 4px;
      font-size: 1rem;
      margin-bottom: 12px;
    }
  }
}
