.toggler {
  position: relative;
  width: 52px;
  height: 22px;
  box-sizing: border-box;
  border-radius: 22px;
  border: 1px solid;

  .toggler-text {
    font-size: 11px;
    font-weight: lighter;
  }

  .toggler-text-light {
    top: 4px;
    right: 6px;
    position: absolute;
  }

  .toggler-text-dark {
    left: 4px;
    top: 4px;
    position: absolute;
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .toggler-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
  }

  .toggler-slider-light:before {
    background-image: url(../../../images/light-toggler.svg);
  }

  .toggler-slider-dark:before {
    background-image: url(../../../images/dark-toggler.svg);
  }

  .toggler-slider:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-size: cover;
    left: 1px;
    bottom: 1px;
    border: 1px solid;
    transition: 0.4s;
    -webkit-transition: 0.4s;
  }

  input:checked + .toggler-slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
}
